# Import Libraries

In [119]:
import pandas as pd

# Obtain Data

Read csv file with consumer reports ratings into pandas df

In [147]:
cr_df = pd.read_csv('Data/Ratings.csv')
cr_df = cr_df.iloc[:, range(1, len(cr_df.columns), 2)]
cr_df.columns = [x.replace('.1', '') for x in cr_df.columns]
cr_df['Model'] = cr_df['Model'].apply(lambda x : x.replace('mercedes-benz', 'mercedes benz'))
cr_df['Model'] = cr_df['Model'].apply(lambda x : x.replace('land-rover', 'land rover'))
cr_df['Brand'] = cr_df['Model'].apply(lambda x : x.split('-')[0])
def model_name(row):
    return row['Model'].replace(row['Brand']+'-', '')
cr_df['Model'] = cr_df.apply(model_name, axis=1)
print('cr_df shape: ', cr_df.shape)
cr_df.head()

cr_df shape:  (295, 18)

,Model,Reliability,Acceleration,Braking,Ride,Noise,Front Seat Comfort,Rear Seat Comfort,Interior Fit and Finish,Trunk/Cargo Area,Fuel Economy,Routine Handling,Headlights,Driving Position,Third Seat Comfort,Usability,Max. Load,Brand
0,v60,1 / 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,volvo
1,500l,NaN,3 / 5,4 / 5,2 / 5,3 / 5,3 / 5,4 / 5,3 / 5,2 / 5,4 / 5,4 / 5,3 / 5,3 / 5,NaN,3 / 5,860 lb.,fiat
2,xf,NaN,5 / 5,5 / 5,5 / 5,4 / 5,5 / 5,4 / 5,5 / 5,2 / 5,3 / 5,5 / 5,3 / 5,4 / 5,NaN,3 / 5,960 lb.,jaguar
3,tt,NaN,5 / 5,5 / 5,3 / 5,3 / 5,5 / 5,1 / 5,5 / 5,2 / 5,4 / 5,5 / 5,2 / 5,4 / 5,NaN,2 / 5,770 lb.,audi
4,mirai,NaN,3 / 5,3 / 5,4 / 5,4 / 5,4 / 5,3 / 5,4 / 5,2 / 5,5 / 5,2 / 5,4 / 5,3 / 5,NaN,3 / 5,690 lb.,toyota

Read csv file with auto sales data into pandas df

In [149]:
sales_df = pd.read_excel('Data/Auto_Sales/1-19-auto-sales.xls', header=4)
sales_df.rename(columns={'Unnamed: 0': 'Model'}, inplace=True)
sales_df.dropna(inplace=True)
sales_df['Model'] = sales_df['Model'].apply(lambda x: x.replace("(I)", ""))
sales_df['Model'] = sales_df['Model'].apply(lambda x: x.replace("*", ""))
sales_df['Model'] = sales_df['Model'].apply(lambda x: x.replace("Total", ""))
sales_df['Model'] = sales_df['Model'].apply(lambda x: x.strip())
sales_df.drop(columns=['change', 2018], inplace=True)
sales_df = sales_df.groupby('Model').agg({'Model':'first', 2019:'max'})
sales_df.reset_index(inplace=True, drop=True)
sales_df['Model'] = sales_df['Model'].apply(lambda x: x.lower())
print('sales_df shape: ', sales_df.shape)
sales_df.head()

sales_df shape:  (537, 2)

      Model    2019
0  2 series   578.0
1       200    12.0
2  3 series  1226.0
3       300  2078.0
4      370z   173.0

In [155]:
merged_df = pd.merge(sales_df, cr_df, on='Model')
merged_df

,Model,2019,Reliability,Acceleration,Braking,Ride,Noise,Front Seat Comfort,Rear Seat Comfort,Interior Fit and Finish,Trunk/Cargo Area,Fuel Economy,Routine Handling,Headlights,Driving Position,Third Seat Comfort,Usability,Max. Load,Brand
0,300,2078.0,5 / 5,4 / 5,4 / 5,4 / 5,5 / 5,5 / 5,5 / 5,5 / 5,3 / 5,3 / 5,4 / 5,1 / 5,4 / 5,NaN,4 / 5,865 lb.,chrysler
1,4runner,10335.0,4 / 5,4 / 5,4 / 5,2 / 5,4 / 5,4 / 5,4 / 5,3 / 5,4 / 5,2 / 5,2 / 5,4 / 5,3 / 5,NaN,4 / 5,1155 lb.,toyota
2,500,261.0,NaN,4 / 5,5 / 5,1 / 5,2 / 5,3 / 5,1 / 5,3 / 5,1 / 5,4 / 5,5 / 5,4 / 5,3 / 5,NaN,3 / 5,700 lb.,fiat
3,500l,56.0,NaN,3 / 5,4 / 5,2 / 5,3 / 5,3 / 5,4 / 5,3 / 5,2 / 5,4 / 5,4 / 5,3 / 5,3 / 5,NaN,3 / 5,860 lb.,fiat
4,500x,274.0,NaN,3 / 5,4 / 5,2 / 5,2 / 5,3 / 5,3 / 5,3 / 5,1 / 5,3 / 5,3 / 5,2 / 5,3 / 5,NaN,4 / 5,1080 lb.,fiat
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,yaris,1323.0,NaN,3 / 5,3 / 5,3 / 5,3 / 5,3 / 5,2 / 5,3 / 5,3 / 5,5 / 5,5 / 5,3 / 5,3 / 5,NaN,3 / 5,850 lb.,toyota
196,yukon,3644.0,1 / 5,4 / 5,4 / 5,3 / 5,5 / 5,4 / 5,4 / 5,4 / 5,4 / 5,1 / 5,2 / 5,4 / 5,4 / 5,1 / 5,5 / 5,1580 lb.,gmc
197,z4,0.0,NaN,5 / 5,5 / 5,1 / 5,2 / 5,5 / 5,NaN,5 / 5,2 / 5,4 / 5,5 / 5,2 / 5,3 / 5,NaN,3 / 5,465 lb.,bmw
198,i3,255.0,NaN,4 / 5,4 / 5,4 / 5,5 / 5,4 / 5,3 / 5,4 / 5,2 / 5,5 / 5,4 / 5,2 / 5,3 / 5,NaN,3 / 5,650 lb.,bmw
199,i8,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,620 lb.,bmw

In [159]:
test = pd.merge(sales_df, cr_df, on='Model', how='right')
test[test[2019].isna()]['Model'].values

array(['v60', '6', '1500-classic', 'gle-coupe', 'a8', 'range-rover-sport',
       'range-rover', 'discovery-sport', '8-series', 'silverado-3500hd',
       'f-250', 'silverado-1500', 'versa-note', 'levante', 'f-350',
       'cooper', 'sierra-2500hd', 'prius-prime', 'a4', 'sprinter',
       'corolla-hatchback', 'rx-l', '3-series', '718-cayman',
       'eclipse-cross', 'romeo-giulia', 'model-3', 'a5', 'z',
       'land-cruiser', 'santa-fe', '86', 'golf-alltrack',
       'golf-sportwagen', 'model-s', 'model-x', 'grand-caravan',
       'yukon-xl', 'x7', '3', 'a6', 's90', 'arteon', 'e-tron', 'rlx',
       'range-rover-velar', '5-series', 'a-class', 'gle', 'allroad',
       'slc', '4-series', 's4', 'kona-electric', 'sierra-1500', 'a7',
       '6-series', 's-class', 'prius-c', 'silverado-2500hd', 'c-class',
       'ghibli', 'mx-5-miata', 'grand-cherokee', 'gti', 'nautilus', 'glc',
       'sierra-3500hd', 'rogue-sport', '3500', 'romeo-4c', 'golf',
       'outlander-sport', 'metris', '1500', 'e-class', 'amg-gt', '124',
       'cooper-clubman', 'glc-coupe', 'niro-electric', 's60',
       'transit-connect', 'flying-spur', 'elantra-gt',
       'cooper-countryman', 'titan-xd', '718-boxster', '2500', '7-series',
       'discovery', 'range-rover-evoque', 'f-150', '2-series',
       'romeo-stelvio'], dtype=object)

In [160]:
test[test[2019].notna()]['Model'].values

array(['500l', 'xf', 'tt', 'mirai', 'encore', 'a3', 'sl', 'envision',
       'ls', 'yaris', 'q5', 'x2', 'fortwo', 'tacoma', 'gs', 'xj', 'fit',
       'sonic', 'accent', 'legacy', 'qx80', 'terrain', 'i-pace', 'gla',
       '500', 'insight', 'q50', 'mustang', 'tundra', 'xc90', 'q3', 'kona',
       'q7', 'titan', 'optima', 'qx60', 'regal', 'spark', 'lacrosse',
       'panamera', 'ridgeline', 'forte', 'expedition', 'yukon', 'nsx',
       'mdx', 'escalade', 'cherokee', 'outlander', 'fiesta', 'xt5', 'i3',
       'impreza', 'explorer', 'pathfinder', 'armada', 'qx50', 'cx-9',
       'x4', 'tlx', 'challenger', 'nx', 'i8', 'volt', 'xts', '911',
       'ioniq', 'macan', 'versa', 'f-pace', 'cla', 'avalon', 'sentra',
       'cascada', 'outback', 'impala', 'sequoia', '500x', 'flex', 'cruze',
       'passat', 'continental', 'bolt', 'x3', 'corvette', 'elantra',
       'ilx', 'q8', 'lx', 'beetle', 'q70', 'xe', 'edge', 'camaro', 'c-hr',
       'forester', 'fusion', 'camry', 'canyon', 'sedona', 'r8', 'ct6',
       'nexo', 'q60', 'k900', 'cx-5', 'rdx', 'g90', 'sportage', 'xt4',
       'taurus', 'corolla', 'veloster', 'journey', 'x1', 'accord',
       'tucson', 'xc60', 'enclave', 'hr-v', 'cr-v', 'ux', 'escape',
       'tiguan', 'trax', 'ats', 'ascent', 'pilot', 'cls', 'murano',
       'durango', 'clarity', 'gx', 'colorado', 'mkc', 'lc', 'z4', 'tahoe',
       'x5', 'passport', 'cayenne', 'transit', 'mkt', 'frontier', 'wrx',
       'rav4', 'e-pace', 'suburban', 'pacifica', 'xc40', 'is', 'acadia',
       '300', 'g80', 'highlander', 'sorento', 'qx30', 'crosstrek',
       'traverse', 'renegade', 'rogue', 'maxima', 'wrangler', 'brz',
       'ranger', 'sienna', 'leaf', 'gt-r', 'mirage', 'gls', 'odyssey',
       'cadenza', 'civic', 'niro', 'prius', 'altima', 'sonata', '4runner',
       'navigator', 'cts', 'mkz', 'ecosport', 'g70', 'rc', 'cx-3',
       'equinox', 'atlas', 'rx', 'kicks', 'blazer', 'rio', 'stinger',
       'compass', 'x6', 'soul', 'f-type', 'es', 'jetta', 'malibu',
       'charger'], dtype=object)

In [161]:
sales_df['Model'].values

array(['2 series', '200', '3 series', '300', '370z', '4 series', '4c',
       '4runner', '5 series', '500', '500l', '500x', '6 series',
       '60 series', '7 series', '718', '8 series', '86 (incl. fr-s)',
       '90 series', '911', 'a3', 'a4/s4', 'a5/s5', 'a6/s6', 'a7/s7',
       'a8/s8', 'american honda', 'aston martin car', 'ats', 'acadia',
       'accent', 'accord', 'accord (d)', 'acura', 'acura (d)',
       'acura car', 'acura car (d)', 'acura truck', 'alfa romeo',
       'alfa romeo car', 'alfa romeo truck', 'altima', 'american honda',
       'american honda (d)', 'american honda car', 'american honda truck',
       'armada', 'ascent', 'atlas', 'audi', 'audi car', 'audi truck',
       'avalon', 'avenger', 'azera', 'b class', 'bmw', 'bmw (d)',
       'bmw of n.a.', 'bmw car', 'bmw of n.a.', 'bmw of n.a. (d)',
       'bmw of n.a. car', 'bmw of n.a. truck', 'bmw truck',
       'bmw truck (d)', 'brz', 'beetle', 'bentley', 'bentley car',
       'bentley truck', 'blazer', 'bolt', 'buick', 'buick (d)',
       'buick car', 'buick car (d)', 'buick truck', 'buick truck (d)',
       'c class', 'c class (d)', 'c-hr', 'c-max', 'cc', 'cla', 'cls',
       'cr-v', 'cr-v (d)', 'cr-z', 'ct', 'ct6', 'cts', 'cx-3', 'cx-5',
       'cx-9', 'cadenza', 'cadillac', 'cadillac car', 'cadillac truck',
       'camaro', 'camry', 'camry (d)', 'canyon', 'caprice', 'cascada',
       'cayenne', 'challenger', 'charger', 'cherokee', 'chevrolet',
       'chevrolet (d)', 'chevrolet car', 'chevrolet car (d)',
       'chevrolet truck', 'chrysler', 'chrysler car', 'chrysler truck',
       'city express', 'civic', 'civic (d)', 'clarity', 'colorado',
       'compass', 'continental', 'cooper s', 'corolla', 'corolla (d)',
       'corolla/im', 'corvette', 'countryman', 'crosstrek', 'cruze',
       'dart', 'discovery sport', 'discovery/lr4', 'dodge', 'dodge car',
       'dodge truck', 'dodge/ram', 'domestic car', 'domestic light truck',
       'durango', 'e class', 'e class/cls', 'e-pace', 'e-series van',
       'es', 'es (d)', 'eclipse cross', 'ecosport', 'edge', 'elantra',
       'enclave', 'encore', 'envision', 'equinox', 'escalade',
       'escalade esv', 'escape', 'expedition', 'explorer', 'express van',
       'f series', 'f-pace', 'f-type', 'fca us', 'fca us (d)',
       'fca us car', 'fca us truck', 'ferrari n.a. car',
       'fiat chrysler automobiles', 'fj cruiser', 'ford motor co.',
       'fiat', 'fiat (d)', 'fiat chrysler automobiles',
       'fiat chrysler automobiles (d)', 'fiat chrysler automobiles car',
       'fiat chrysler automobiles truck', 'fiat car', 'fiat car (d)',
       'fiat truck', 'fiesta', 'fit', 'fit (d)', 'flex', 'focus',
       'fortwo', 'ford', 'ford (d)', 'ford motor co.',
       'ford motor co. (d)', 'ford motor co. car', 'ford motor co. truck',
       'ford car', 'ford truck', 'ford truck (d)', 'forester', 'forte',
       'frontier', 'fusion', 'g class', 'g70', 'g80', 'g90',
       'general motors', 'gla', 'glc/glk', 'gle/m class', 'gls',
       'gmc truck', 'gs', 'gt', 'gt-r', 'gx', 'general motors',
       'general motors (d)', 'general motors car', 'general motors truck',
       'genesis car', 'giulia', 'golf (d)', 'golf/golf r/gti',
       'grand caravan', 'grand cherokee', 'hr-v', 'hyundai-kia',
       'highlander', 'highlander (d)', 'honda', 'honda (d)', 'honda car',
       'honda car (d)', 'honda truck', 'honda truck (d)', 'hyundai',
       'hyundai (d)', 'hyundai motor america',
       'hyundai motor america (d)', 'hyundai motor america car',
       'hyundai motor america truck', 'hyundai car', 'hyundai car (d)',
       'hyundai truck', 'hyundai truck (d)', 'hyundai-kia',
       'hyundai-kia (d)', 'hyundai-kia car', 'hyundai-kia truck',
       'i-pace', 'ilx', 'is', 'impala', 'import car',
       'import light truck', 'impreza', 'impreza (d)', 'infiniti',
       'infiniti (d)', 'infiniti car', 'infiniti truck',
       'infiniti truck (d)', 'insight', 'ioniq', 'jaguar land rover n.a.',
       'jaguar', 'jaguar land rover car', 'jaguar land rover truck',
       'jaguar car', 'jaguar truck', 'jeep truck', 'jeep truck (d)',
       'jetta', 'journey', 'juke', 'k900', 'kia motors america',
       'kia motors america (d)', 'kia car', 'kia car (d)', 'kia truck',
       'kia truck (d)', 'kicks', 'kona', 'lc', 'lfa', 'lotus car', 'ls',
       'lx', 'lacrosse', 'lamborghini car', 'lancer', 'land cruiser',
       'land rover truck', 'leaf', 'legacy', 'lexus', 'lexus (d)',
       'lexus car', 'lexus car (d)', 'lexus truck', 'lexus truck (d)',
       'lincoln', 'lincoln car', 'lincoln truck', 'mazda n.a.',
       'mclaren automotive', 'mdx', 'mercedes-benz usa',
       'mitsubishi motors n.a.', 'mkc', 'mkt', 'mkz', 'mx-5 miata',
       'macan', 'malibu', 'maserati', 'maserati car', 'maserati truck',
       'maxima', 'mazda car', 'mazda truck', 'mazda3', 'mazda6',
       'mercedes-benz', 'mercedes-benz (d)', 'mercedes-benz usa',
       'mercedes-benz usa (d)', 'mercedes-benz usa car',
       'mercedes-benz usa truck', 'mercedes-benz car',
       'mercedes-benz car (d)', 'mercedes-benz truck',
       'mercedes-benz truck (d)', 'metris †', 'mini', 'mini car',
       'mini truck', 'mirage', 'mirai', 'mitsubishi car',
       'mitsubishi truck', 'model 3', 'model s', 'model x', 'murano',
       'murano (d)', 'mustang', 'nissan group', 'nissan group/mitsubishi',
       'nsx', 'nv', 'nv200', 'nx', 'nautilus/mkx', 'navigator', 'nexo',
       'niro', 'nissan', 'nissan (d)', 'nissan group', 'nissan group (d)',
       'nissan group car', 'nissan group truck', 'nissan car',
       'nissan car (d)', 'nissan truck', 'nissan truck (d)', 'odyssey',
       'optima', 'outback', 'outlander', 'outlander sport', 'pacifica',
       'panamera', 'passat', 'passport', 'pathfinder', 'patriot', 'pilot',
       'porsche', 'porsche car', 'porsche truck', 'prius', 'promaster',
       'promaster city', 'q3', 'q5', 'q50', 'q60', 'q7', 'q70', 'q8',
       'qx30', 'qx50', 'qx60', 'qx70', 'qx80', 'quest', 'r8', 'rav4',
       'rav4 (d)', 'rc', 'rdx', 'rl/rlx', 'rx', 'rx (d)', 'ram pickup',
       'ram truck', 'ram truck (d)', 'range rover', 'range rover evoque',
       'range rover sport', 'range rover velar', 'ranger', 'regal',
       'renegade', 'ridgeline', 'rio', 'rogue', 'rogue (d)',
       'rolls-royce car', 's class', 'sl', 'slc/slk', 'ss',
       'subaru of america', 'santa fe', 'savana van', 'sedona', 'sentra',
       'sequoia', 'sienna', 'sierra', 'silverado', 'smart usa car',
       'sonata', 'sonic', 'sorento', 'soul', 'spark', 'spider',
       'sportage', 'sports series', 'sprinter †', 'stelvio', 'stinger',
       'subaru car', 'subaru car (d)', 'subaru of america',
       'subaru of america (d)', 'subaru truck', 'subaru truck (d)',
       'suburban', 'super series', 'tesla', 'tlx',
       'total u.s. light vehicle', 'toyota motor n.a.', 'tt', 'tacoma',
       'tahoe', 'taurus', 'terrain', 'tesla car', 'tesla truck', 'tiguan',
       'tiguan (d)', 'titan', 'touareg', 'town & country', 'toyota',
       'toyota (d)', 'toyota motor n.a.', 'toyota motor n.a. (d)',
       'toyota motor n.a. car', 'toyota motor n.a. truck', 'toyota car',
       'toyota car (d)', 'toyota truck', 'toyota truck (d)', 'transit',
       'transit connect', 'traverse', 'trax', 'tucson', 'tundra',
       'u.s. car', 'u.s. light truck', 'ux', 'ultimate series',
       'volvo car usa', 'vw', 'vw (d)', 'vw group of america',
       'vw group of america', 'vw group of america (d)',
       'vw group of america car', 'vw group of america truck', 'vw car',
       'vw car (d)', 'vw truck', 'vw truck (d)', 'veloster', 'verano',
       'versa', 'viper', 'volt', 'volvo car', 'volvo truck', 'wrx',
       'wrangler', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'xc40', 'xc60',
       'xc90', 'xe', 'xf', 'xj', 'xt4', 'xt5', 'xts', 'yaris',
       'yaris liftback', 'yaris ia (d)', 'yukon', 'yukon xl', 'z4',
       'domestic light vehicle', 'i3', 'i8', 'import light vehicle'],
      dtype=object)

In [162]:
cr_df['Model'].values

array(['v60', '500l', 'xf', 'tt', 'mirai', '6', 'encore', 'a3',
       '1500-classic', 'sl', 'envision', 'gle-coupe', 'a8', 'ls',
       'range-rover-sport', 'range-rover', 'discovery-sport', 'yaris',
       'q5', 'x2', 'fortwo', 'tacoma', '8-series', 'gs',
       'silverado-3500hd', 'f-250', 'xj', 'silverado-1500', 'versa-note',
       'fit', 'sonic', 'levante', 'accent', 'f-350', 'legacy', 'cooper',
       'qx80', 'terrain', 'i-pace', 'gla', '500', 'insight',
       'sierra-2500hd', 'q50', 'mustang', 'tundra', 'xc90', 'q3', 'kona',
       'prius-prime', 'a4', 'q7', 'sprinter', 'titan', 'optima',
       'corolla-hatchback', 'rx-l', 'qx60', 'regal', '3-series',
       '718-cayman', 'eclipse-cross', 'romeo-giulia', 'spark', 'model-3',
       'lacrosse', 'panamera', 'ridgeline', 'a5', 'z', 'forte',
       'land-cruiser', 'expedition', 'yukon', 'nsx', 'mdx', 'santa-fe',
       'escalade', 'cherokee', '86', 'golf-alltrack', 'outlander',
       'fiesta', 'xt5', 'i3', 'golf-sportwagen', 'model-s', 'impreza',
       'explorer', 'pathfinder', 'model-x', 'grand-caravan', 'armada',
       'qx50', 'cx-9', 'yukon-xl', 'x4', 'tlx', 'challenger', 'x7', 'nx',
       '3', 'i8', 'volt', 'xts', '911', 'ioniq', 'a6', 'macan', 'versa',
       's90', 'f-pace', 'cla', 'arteon', 'avalon', 'sentra', 'e-tron',
       'cascada', 'rlx', 'outback', 'range-rover-velar', 'impala',
       'sequoia', '500x', '5-series', 'flex', 'cruze', 'passat',
       'continental', 'bolt', 'x3', 'corvette', 'elantra', 'ilx', 'q8',
       'lx', 'a-class', 'gle', 'beetle', 'allroad', 'q70', 'slc', 'xe',
       'edge', 'camaro', 'c-hr', '4-series', 'forester', 'fusion',
       'camry', 'canyon', 'sedona', 'r8', 's4', 'ct6', 'nexo', 'q60',
       'k900', 'cx-5', 'rdx', 'kona-electric', 'g90', 'sportage',
       'sierra-1500', 'xt4', 'taurus', 'a7', '6-series', 'corolla',
       's-class', 'veloster', 'journey', 'prius-c', 'x1', 'accord',
       'silverado-2500hd', 'tucson', 'xc60', 'enclave', 'c-class',
       'ghibli', 'mx-5-miata', 'hr-v', 'grand-cherokee', 'cr-v', 'ux',
       'escape', 'tiguan', 'gti', 'trax', 'ats', 'ascent', 'pilot',
       'nautilus', 'cls', 'murano', 'durango', 'clarity', 'glc', 'gx',
       'colorado', 'mkc', 'lc', 'z4', 'sierra-3500hd', 'tahoe', 'x5',
       'passport', 'rogue-sport', 'cayenne', 'transit', '3500', 'mkt',
       'romeo-4c', 'frontier', 'golf', 'wrx', 'rav4', 'e-pace',
       'outlander-sport', 'metris', '1500', 'suburban', 'e-class',
       'pacifica', 'xc40', 'is', 'acadia', '300', 'g80', 'highlander',
       'sorento', 'amg-gt', 'qx30', 'crosstrek', '124', 'traverse',
       'renegade', 'rogue', 'maxima', 'wrangler', 'cooper-clubman',
       'glc-coupe', 'brz', 'ranger', 'niro-electric', 'sienna', 's60',
       'leaf', 'gt-r', 'mirage', 'gls', 'odyssey', 'cadenza',
       'transit-connect', 'civic', 'niro', 'prius', 'altima', 'sonata',
       '4runner', 'navigator', 'cts', 'flying-spur', 'mkz', 'elantra-gt',
       'cooper-countryman', 'titan-xd', '718-boxster', 'ecosport', 'g70',
       'rc', 'cx-3', 'equinox', 'atlas', 'rx', 'kicks', 'blazer', '2500',
       '7-series', 'discovery', 'rio', 'stinger', 'range-rover-evoque',
       'compass', 'x6', 'f-150', 'soul', '2-series', 'f-type', 'es',
       'romeo-stelvio', 'jetta', 'malibu', 'charger'], dtype=object)

In [139]:
sales_df[sales_df['Model']=='yukon']

     Model    2019
530  yukon  3644.0

In [144]:
cr_df.iloc[0]['Brand']

'volvo'

In [164]:
cr_df[cr_df['Brand']=='volvo']

,Model,Reliability,Acceleration,Braking,Ride,Noise,Front Seat Comfort,Rear Seat Comfort,Interior Fit and Finish,Trunk/Cargo Area,Fuel Economy,Routine Handling,Headlights,Driving Position,Third Seat Comfort,Usability,Max. Load,Brand
0,v60,1 / 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,volvo
46,xc90,1 / 5,4 / 5,5 / 5,3 / 5,4 / 5,5 / 5,5 / 5,5 / 5,3 / 5,2 / 5,3 / 5,3 / 5,5 / 5,1 / 5,2 / 5,1210 lb.,volvo
110,s90,NaN,4 / 5,4 / 5,3 / 5,4 / 5,5 / 5,4 / 5,5 / 5,3 / 5,3 / 5,4 / 5,3 / 5,4 / 5,NaN,2 / 5,950 lb.,volvo
177,xc60,4 / 5,4 / 5,5 / 5,3 / 5,4 / 5,5 / 5,4 / 5,5 / 5,3 / 5,3 / 5,4 / 5,4 / 5,4 / 5,NaN,2 / 5,950 lb.,volvo
225,xc40,3 / 5,4 / 5,4 / 5,3 / 5,4 / 5,5 / 5,4 / 5,4 / 5,2 / 5,3 / 5,4 / 5,4 / 5,4 / 5,NaN,1 / 5,925 lb.,volvo
247,s60,1 / 5,4 / 5,5 / 5,3 / 5,4 / 5,4 / 5,3 / 5,4 / 5,2 / 5,4 / 5,4 / 5,3 / 5,4 / 5,NaN,2 / 5,890 lb.,volvo